/* Styles go here */
* {
  box-sizing: border-box;
}

.app {
	width: 800px;
	margin: auto 0;
	border: 1px solid black;
	padding: 10px 10px;
}
.nav {
  text-align:center;
  border: 1px solid black;
}

h2 {
	text-align: center;
}
